*.dart linguist-detectable=true
*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.c linguist-detectable=false
*.java linguist-detectable=false
*.kt linguist-detectable=false
*.swift linguist-detectable=false
